{% extends 'base.html' %}

{% block content %}

    {% for post in posts%}
    <fieldset style="border: 1px solid black; width: 30%;margin-top: 4px;margin-left: 25%;">
    <h2><img class="rounded-circle article-img" width="40px" height="40px" src="{{ post.author.profile.image.url}}">
        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
        <p> By {{ post.author }} on {{post.date_posted }}</p>
        
        <p>{{ post.content }}</p>
    </fieldset>

    {%endfor%}
{% endblock %}