{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/slick.css" type="text/css'%}" />   
    <link rel="stylesheet" href="{% static 'css/tooplate-simply-amazed.css'%}" type="text/css" />

    <style>
      /* Center the content vertically and horizontally */
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      p {
        text-align: center;
        max-width: 600px; /* Adjust this value to control the width of the content */
        
      margin-right: 50%;
      }
    </style>
</head>

<header class="header order-last" id="tm-header" style="width: 25%;">
    <nav class="navbar">
        <div class="collapse navbar-collapse single-page-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><span class="icn"><i class="fas fa-book"></i></span> University</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#section-2"><span class="icn"><i class="fas fa-calendar-alt"></i></span> Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#section-3"><span class="icn"><i class="fas fa-handshake"></i></span> Club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><span class="icn"><i class="fas fa-user"></i></span> LogIn /  </a><br>
                    <a class="nav-link" href="/signin">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#section-4"><span class="icn"><i class="fas fa-address-book"></i></span> Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>
  <div class="container">
    {% block content %}
      
  <p>Your password has been set to your email account. You may go ahead and <a href="{% url 'login' %}">log in now</a>.</p>
    {% endblock %}
  </div>
</body>

</html>
