{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Iset/Club</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/slick.css" type="text/css'%}" />   
    <link rel="stylesheet" href="{% static 'css/tooplate-simply-amazed.css'%}" type="text/css" />

</head>

<body>
    <div id="outer">
        <header class="header order-last" id="tm-header" style="width: 25%;">
            <nav class="navbar" >
                <div class="collapse navbar-collapse single-page-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#section-1"><span class="icn"><i class="fas fa-book"></i></span> University</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-2"><span class="icn"><i class="fas fa-calendar-alt"></i></span> Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section-3"><span class="icn"><i class="fas fa-handshake"></i></span> Club</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#section-4"><span class="icn"><i class="fas fa-address-book"></i></span> Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><span class="icn"><i class="fas fa-user"></i></span> LogIn /  </a><br>
                            <a class="nav-link" href="{% url 'signin' %}">SignUp</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <button class="navbar-button collapsed" type="button">
            <span class="menu_icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </button>
        
        <main id="content-box" class="order-first" style="width: 75%;">
            <div style="background-repeat: no-repeat ;background-image: url('{% static 'img/section-1-bg.jpg' %}'); background-size:100%;">

            <div class="banner-section section parallax-window"  data-parallax="scroll"  id="section-1">
                <div class="container">
                    <div class="item">
                        <div class="bg-blue-transparent logo-fa"style="border-radius:20px;"><span></span> <img width="70%" src="{%static 'img/logo.png' %}"/></div>
                        <div class="bg-blue-transparent simple"><p>Empower your journey with knowledge, where every step forward is a leap towards your dreams. Let's innovate, inspire, and ignite the future together !</p></div>
                    </div>
                </div>
            </div>
            </div>
        
            <section class="work-section section" id="section-2">
                <div class="container">
                    <div class="row">
                        <div class="item col-md-4">
                            <div class="tm-work-item-inner">
                                <div class="icn"><i class="fas fa-2x fa-icons"></i></div>
                                <h3>.01 Events</h3>
                                <p>Discover and dive into events tailored to your interests - post, participate, and propel your passions forward.</p>
                            </div>                        
                        </div>
                        <div class="item col-md-4 one">
                            <div class="tm-work-item-inner">
                                <div class="icn"><i class="fas fa-2x fa-tools"></i></div>
                                <h3>.02 Clubs</h3>
                                <p>Connect and cultivate your community by joining clubs that resonate with your aspirations and hobbies.</p>
                            </div>
                        </div>
                        <div class="item col-md-4 two">
                            <div class="tm-work-item-inner">
                                <div class="icn"><i class="fab fa-2x fa-phoenix-framework"></i></div>
                                <h3>.03 Activities</h3>
                                <p>Stay in the loop with ease - get timely notifications on the latest activities and never miss a beat of university life.</p>
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        <h2>Our Guide</h2>
                    </div>
                </div>
            </section>


            <div style="background-repeat: no-repeat ;background-image: url('{% static 'img/section-3-bg.jpg' %}'); background-size:100%;">

            <section class="gallery-section section parallax-window" data-parallax="scroll" data-image-src="img/section-3-bg.jpg" id="section-3">
                <div class="container">
                    <div class="title text-right">
                        <h2>Our Clubs</h2>
                    </div>
                    <div class="mx-auto gallery-slider" >
                        <figure class="effect-julia item" >
                            <img src="{%static 'img/ARCI.jpg'%}" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Autonomie Robotic Club Iset</p>
                                </div>
                                <a href="/login">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="{%static 'img/Airo.png'%}" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Airomodelisme club</p>
                                </div>
                                <a href="/login">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="{%static 'img/MTC.jpg'%}" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Microsoft Tech Club</p>
                                </div>
                                <a href="/login">View more</a>
                            </figcaption>
                        </figure>
                        
                        <figure class="effect-julia item" >
                            <img src="{%static 'img/Ider.jpg'%}" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Ider Club</p>
                                </div>
                                <a href="/login">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item" >
                            <img src="{%static 'img/ArtClub.jpg'%}" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Art Club</p>
                                </div>
                                <a href="/login">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="{%static 'img/RaiseUp.jpg'%}" alt="Image">
                            <figcaption>
                                <div>
                                    <p>Raise Up Club</p>
                                </div>
                                <a href="/login">View more</a>
                            </figcaption>
                        </figure>
                        <figure class="effect-julia item">
                            <img src="{%static 'img/Civil.jpg'%}"alt="Image">
                            <figcaption>
                                <div>
                                    <p>Genie Civil Club</p>
                                </div>
                                <a href="/login">View more</a>
                            </figcaption>
                      
                        </figure>

                                  
                <a href="/login" style="color: blue;">View more</a>
                      
                     
                    </div>
                          
                </div>
                
            </section>
            </div>

            <section class="contact-section section" id="section-4">
                <div class="container">
                    <div class="title">
                        <h3>Contact Us</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 mb-4 contact-form">
                            <div class="form tm-contact-item-inner">
                                <form action="#" method="POST">
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input name="email" type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="textarea form-control" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group text-right">
                                        <input type="submit" class="btn btn-primary" value="Send it">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 contact-details">
                            <div class="tm-contact-item-inner-2">
                            
                                <ul class="font-weight-light">
                                    <li>
                                        <span class="icn"><i class="fas fa-mobile-alt"></i></span>
                                        <span class="lbl">Tel:</span> <a href="#">010-020-0340</a>
                                    </li>
                                    <li>
                                        <span class="icn"><i class="fas fa-at"></i></span>
                                        <span class="lbl">Email:</span> <a href="#">iset@company.com</a>
                                    </li>
                                    <li>
                                        <span class="icn"><i class="fas fa-globe-asia"></i></span>
                                        <span class="lbl">URL:</span> <a href="https://isetsf.rnu.tn/">https://isetsf.rnu.tn/</a>
                                    </li>
                                </ul>
                            </div>                        
                        </div>
                        <div class="col-lg-3 col-md-12 map">
                            <!-- Map -->
                            <div class="map-outer tm-mb-40">
                                <div class="gmap-canvas">
                                    <iframe width="100%" height="400" id="gmap-canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.935598971257!2d10.769580075208433!3d34.757215080179314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1301d2c1f3c2991f%3A0xab7f8817c80e9617!2sHigher%20Institute%20of%20Technological%20Studies%20of%20Sfax!5e0!3m2!1sen!2stn!4v1713094356459!5m2!1sen!2stn" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <footer class="footer container container-2">
                    <div class="row"> 
                        <p class="col-sm-7">copyright &copy; 2024 Yasmin<!--Instituts Supérieurs des Etudes Technologiques : Iset Sfax--></p>
                        <p class="col-sm-5 text-right design">. All Rights Reserved .</a></p>
                    </div>
                </footer>
            </section>
        </main>
    </div>
    <!--<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js'%}"></script>
    <script src="{% static 'js/slick.js'%}"></script>
    <script src="{% static 'js/parallax.min.js'%}"></script>
    <script src="{% static 'js/templatemo-script.js'%}"></script>-->
</body>
</html>